In [1]:
%matplotlib inline

from PIL import Image

import cv2, matplotlib
import numpy as np

from math import sqrt

import matplotlib.pyplot as plt

from os.path import expanduser, splitext
from os import scandir, makedirs

import csv

from tqdm.notebook import trange, tqdm

from pathlib import Path

debug = False  # plot every steps

In [2]:
from floorplan_analysis import read_from_csv

# CSV

In [3]:
dir_from = "/data/fp_img_processed/"

csv_to = "processed.csv"

### all of the plans
ID_path_dict = {
    splitext(f.name)[0]: f.path
    for f in scandir(dir_from)
    if f.is_file()
}
print(len(ID_path_dict.keys()), "floorplans")

50252 floorplans

In [4]:
list(ID_path_dict.items())[:10]

[('3803_145', '/data/fp_img_processed/3803_145.png'),
 ('112076_61B1d', '/data/fp_img_processed/112076_61B1d.png'),
 ('1200_85A', '/data/fp_img_processed/1200_85A.png'),
 ('2604_104(동신)', '/data/fp_img_processed/2604_104(동신).png'),
 ('3039_154B', '/data/fp_img_processed/3039_154B.png'),
 ('100273_82', '/data/fp_img_processed/100273_82.png'),
 ('9155_149', '/data/fp_img_processed/9155_149.png'),
 ('19690_192', '/data/fp_img_processed/19690_192.png'),
 ('1912_71', '/data/fp_img_processed/1912_71.png'),
 ('105094_150', '/data/fp_img_processed/105094_150.png')]

In [5]:
with open(csv_to, "w", newline="", encoding="utf-8-sig") as csvfile:
    listwriter = csv.writer(csvfile)
    listwriter.writerow(["ID"])
    
    IDs_error = []
    for ID, path in tqdm(ID_path_dict.items(), desc="Processing plans"):
        try:
            listwriter.writerow([ID])
        except:
            IDs_error.append(ID)
    print(len(IDs_error))
    print(IDs_error)

HBox(children=(FloatProgress(value=0.0, description='Processing plans', max=50252.0, style=ProgressStyle(descr…

0
[]

# analysis

In [6]:
import pandas as pd

df = pd.read_csv(csv_to)
# df = df.set_index("ID")

In [7]:
df

                 ID
0          3803_145
1      112076_61B1d
2          1200_85A
3      2604_104(동신)
4         3039_154B
...             ...
50247    12238_105B
50248   103025_83A3
50249     23002_108
50250       772_156
50251      2690_161

[50252 rows x 1 columns]

In [8]:
df_old = pd.read_csv("processed_0812.csv")

df_old[~df_old.index.isin(df.index)]

                ID
50252   105656_80B
50253    13091_162
50254    13666_265
50255   27414_126A
50256     3787_82B
...            ...
50385   12238_105B
50386  103025_83A3
50387    23002_108
50388      772_156
50389     2690_161

[138 rows x 1 columns]